body {
  background: linear-gradient(45deg, #E74C3C, #2980B9, #27AE60, #F39C12);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
}

.glassmorphism {
  color: white;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: all 0.2s ease-in-out;
  border-radius: 20px;
  padding: 40px;
  width: 90%;
  max-width: 800px;
}

.card {
  color: white;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: all 0.2s ease-in-out;
  border-radius: 20px;
  padding: 20px;
  margin: 0 auto;
  position: relative;
}

.left {
  margin-left: 20px;
  transform: translateX(-50%);
}

.right {
  margin-right: 20px;
  transform: translateX(50%);
}

.large {
  width: 80%;
  max-width: 800px;
  z-index: 1;
  margin-top: 20px;
}

.small {
  width: 60%;
  max-width: 600px;
  z-index: 2;
  margin-top: 20px;
}

.main-title {
  font-size: 64px;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

p {
  font-size: 16px;
}

.extra-large {
  width: 90%;
  max-width: 900px;
  z-index: 3;
  margin-top: -50px;
}

.extra-small {
  width: 50%;
  max-width: 500px;
  z-index: 4;
  margin-top: -50px;
}

/* Horizontal Offset Styles */
.left {
  margin-left: 20px;
  transform: translateX(-50%);
}

.right {
  margin-right: 20px;
  transform: translateX(50%);
}

/* Add styles for the navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  display: inline;
  margin: 0 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff; /* Adjust the color as needed */
}

.navbar li:hover {
  color: #555; /* Adjust the hover color as needed */
  cursor: pointer;
}

.container {
  margin-top: 60px; /* Add space below the navbar to prevent content overlap */
}